<!DOCTYPE html>
<html lang="en">
  <head>
    <title>address edit</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/static/lib/weui.min.css" />
    <link rel="stylesheet" href="/static/css/jquery-weui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body ontouchstart class="container">
    <!--main body-->
    <header class="wy-header">
      <div class="wy-header-icon-back"><span></span></div>
      <div class="wy-header-title">edit address</div>
    </header>
    <div class="weui-content">
      <div class="weui-cells weui-cells_form wy-address-edit">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">Receiver</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              placeholder="Steve"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">phone number</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="number"
              pattern="[0-9]*"
              placeholder="13011112222"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label for="name" class="weui-label wy-lab">area</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              id="address"
              type="text"
              value="America New York Ithaca"
              readonly=""
              data-code="420106"
              data-codes="420000,420100,420106"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">detail address</label>
          </div>
          <div class="weui-cell__bd">
            <textarea
              class="weui-textarea"
              placeholder="cornell university"
            ></textarea>
          </div>
        </div>
        <div class="weui-cell weui-cell_switch">
          <div class="weui-cell__bd">set as the default address</div>
          <div class="weui-cell__ft">
            <input class="weui-switch" type="checkbox" />
          </div>
        </div>
      </div>
      <div class="weui-btn-area">
        <a
          class="weui-btn weui-btn_primary"
          href="javascript:"
          id="showTooltips"
          >Save this address</a
        >
        <a href="javascript:;" class="weui-btn weui-btn_warn">Delete this address</a>
      </div>
    </div>

    <script src="/static/lib/jquery-2.1.4.js"></script>
    <script src="/static/lib/fastclick.js"></script>
    <script type="text/javascript" src="/static/js/jquery.Spinner.js"></script>
    <script>
      $(function() {
        FastClick.attach(document.body);
      });
    </script>

    <script src="/static/js/jquery-weui.js"></script>
    <script src="/static/js/city-picker.js"></script>
    <script>
      $('#address').cityPicker({
        title: 'Choose a place of departure',
        onChange: function(picker, values, displayValues) {
          console.log(values, displayValues);
        }
      });
    </script>
  </body>
</html>
