<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/lib/weui.min.css" />
    <link rel="stylesheet" href="/static/css/jquery-weui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    {% block title %}
       <meta name="description" content=""/>
       <title>home page</title>
       {# Header information of the page, you can add header tags, css, js, <title>#}
    {% endblock %}
  </head>
  <body ontouchstart class="container">
    {% block container %}
     {# Content area of the page #}
    {% endblock %}



    <script src="/static/lib/jquery-2.1.4.js"></script>
    <script src="/static/lib/fastclick.js"></script>
    <script src="/static/js/jquery-weui.js"></script>
    <script>
        // Mobile event penetration
      $(function() {
        FastClick.attach(document.body);
      });
      // Return event
        $(".wy-header-icon-back").click(function () {
            history.go(-1);
        })
      {% if messages %}
          {% for msg in messages %}
            $.toptip('{{ msg }}', '{{ msg.tags }}');
          {% endfor %}
      {% endif %}
    </script>
    {% block footer %}
    {#   At the bottom of the page, can be used to put html fragments, you can add new js   #}
    {% endblock %}
  </body>
</html>
